/* Hide Buttons */
.button-toolbar.home{display: none}

/* Reposition Close Tab Button & use small audio indicator */
.tab .close {
    order: 0;
    margin-right: 0px !important
}
.tab:hover .close {order:-2}
.tab:hover .favicon{display:none}
#tabs-container .tab:not(.pinned):not(.tab-small).audio-on .tab-audio, #tabs-container .tab:not(.pinned):not(.tab-small).audio-muted .tab-audio{
    position: absolute;
    left: 15px;
    top: 15px;
    transform: scale(0.8) !important;
    background: none
}

#tabs-container .tab:not(.pinned):not(.tab-small).audio-on .tab-audio:hover, #tabs-container .tab:not(.pinned):not(.tab-small).audio-muted .tab-audio:hover {
    transform: scale(1.2) !important
}
#tabs-container .tab:not(.pinned):not(.tab-small).audio-on .favicon, #tabs-container .tab:not(.pinned):not(.tab-small).audio-muted .favicon{
    transform: scale(1) !important
}

/* Better Panel Switches */
.theme-dark #switch button.webviewbtn img{
    background-color:transparent;
    -webkit-filter:grayscale(100%)
}
#switch button.webviewbtn.active img{-webkit-filter:grayscale(0%)}

/* Hide Ugly Borders */
#footer{box-shadow:none}
#switch button.active,#panels-container,#switch,#panels .panel-group{border-color: transparent}
#panels-container.left #switch{box-shadow: none}
#footer .zoom-control {border-left-color: transparent}
.zoom-control input {border-width: 0px}
#footer .button-toolbar-small {box-shadow: none}
#panels-container:after {background-color: transparent}

/* Tab Favicon fixes */
.tab-position .tab.active .tab-header .favicon {background-color: transparent}

/* Actually transparent speed dials */
.dials .dial .thumbnail-image {background-color:transparent}
