/* Hide Buttons */
.button-toolbar.home{display: none}

/* Reposition Close Tab Button */
.tab .close {
    order: 0;
    margin-right: 0px !important;
}
.tab:hover .close {order:-2}
.tab:hover .tab-audio {order:-1; position: relative !important}
.tab:hover .favicon{display:none}

/* Better Panel Switches */
.theme-dark #switch button.webviewbtn img{
    background-color:transparent;
    -webkit-filter:grayscale(100%)
}
#switch button.webviewbtn.active img{-webkit-filter:grayscale(0%)}

/* Hide Ugly Borders */
#footer{box-shadow:none}
#switch button.active,#panels-container,#switch,#panels .panel-group{border-color: transparent}
#panels-container.left #switch{box-shadow: none}
#footer .zoom-control {border-left-color: transparent}
.zoom-control input {border-width: 0px}
#footer .button-toolbar-small {box-shadow: none}
#panels-container:after {background-color: transparent}

/* Tab Favicon fixes */
.tab-position .tab.active .tab-header .favicon {background-color: transparent}