/* Better Panel Switches */
#switch button img{
    background-color:transparent !important;
    filter:grayscale(100%)
}
#browser.isblurred.dim-blurred #switch button img {
    filter:grayscale(100%) opacity(0.65);
}
#switch .active button img{
	filter:grayscale(0%)
}
#browser.isblurred.dim-blurred #switch .active button img {
    filter:grayscale(0%) opacity(0.65);
}

/* Tab Favicon fixes */
.tab-position .tab.active .tab-header .favicon {background-color: transparent !important}
.theme-dark .tab-position .tab.active .tab-header .favicon {
    filter: none;
}

/* Actually transparent speed dials */
.dials .dial .thumbnail-image {background-color:transparent}
.dials .dial .thumbnail-image {box-shadow: none !important}
