html, body { height: 100%; }
body {padding: 0px; margin: 0px; width: 100%; overflow: hidden;}
iframe {border: none;}

#swpc { height: 30%; display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-around;}
#bbc {width :100%; height: 70%;}

#swpcInternal {height: 100%; display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: space-around;}
#swpcCond { flex-grow: 4; overflow: hidden;}
.swpcItem { flex-grow: 1; flex-shrink: 1;}
#swpcImg{max-height: 100%;}

#full.hidden {display: none; }
#full.visible {display: block;}
#full {position: fixed; top: 0px; left: 0px; height: 100%; width :100%; background: rgba(255,255,255,0.5); background-image: url('http://services.swpc.noaa.gov/images/animations/ovation-north/latest.png') ;background-size:contain; background-repeat: no-repeat;}

/** BBC Style
.wr-forecast-video__update-frequency, #blq-masthead, .regional-summary, .observations, .weather-watchers, #related-links, .ack, #blq-foot, .forecast-options, .site-options, .map-footer, .map-type-picker.button-toggle, .pagetools  {display: none; }
#blq-container-outer {
    background-size: cover !important;
}
#blq-container-outer {height: 100%; }
.columns .column-sidebar, .column-sidebar *, .maps-tabs{background-color: transparent; color: white;}
.static-maps .maps-tabs, .blq-js .tabbed {background: #226083;}
.wr-forecast-video__last-updated { color: #226083; }
.columns {position: relative; top: 32px; }
**/

/** SWPC Style
#section-header, #section-footer, #block-delta-blocks-page-title, #block-system-main, .minimize{display: none;}
#page, #zone-content-wrapper {background-image: none;}
#zone-content {background: transparent; width: 90%; margin: 0 auto;}
.container-12 .grid-12 { width: 100%; float: none;}
.block-swx-noaa-scales, #block-swx-summary-swx-summary {border: none; }
body {overflow: hidden;}
**/