/* use accented header in minimal mode even if accent is behind ui  */
#browser.address-off.tabs-off.bookmark-bar-off.minimal-ui #header {
    background-color: var(--colorAccentBg);
    color: var(--colorAccentFg); fill: var(--colorAccentFg);
    border-bottom: 1px solid var(--colorAccentBg) !important;
}
