/* If screen is narrow and panel is open, just show the panel */
@media screen and (max-width: 600px){
    #browser:not(.minimal-ui) #panels-container.left:not(.icons) + #webview-container{
        display: none
    }
    #browser:not(.minimal-ui) #panels-container.left:not(.icons), .panel-collapse-guard {
        width: 100% !important;
        max-width: 100% !important;
    }
}
