.betterNotesEditor .col {
    min-width: unset !important;
    height: 100%;
    flex: unset !important;
}
.betterNotesEditor .full {
    height: 100%;
    width: 100%;
    margin: 0;
}
.betterNotesEditor textarea, .betterNotesEditor #preview{
    overflow: auto;
    font-size: 13px;
}
.betterNotesEditor .dual {
    display: flex !important;
    flex-direction: row !important;
}
.betterNotesEditor textarea {
    font-family: monospace;
    resize: horizontal !important;
}
.betterNotesEditor h1 {
    font-size: large;
}

.betterNotesEditor footer {
    text-align: right;
}

.betterNotesEditor #preview{
    white-space: pre !important;
}

@media screen and (max-width: 800px){
    .betterNotesEditor .dual {
        flex-direction: column !important;
    }
}
