.betterNotesEditor .col {
    flex-grow: 1 !important;
    min-width: unset !important;
}
.betterNotesEditor .full {
    height: 100%;
    width: 100%;
    margin: 0;
}
.betterNotesEditor textarea, .betterNotesEditor #preview{
    overflow: auto;
    font-size: 13px;
}
.betterNotesEditor .dual {
    display: flex !important;
    flex-direction: row !important;
}
.betterNotesEditor textarea {
    font-family: monospace;
}
.betterNotesEditor h1 {
    font-size: large;
}
@media screen and (max-width: 800px){
    .betterNotesEditor .dual {
        flex-direction: column !important;
    }
}
