#main .betterNotesEditorOpen .meta-data-wrapper.disabled {
    display: none;
}
#main .betterNotesEditorOpen .note{
    display: none;
}
#main .betterNotesEditorOpen .notes-editor {
    height: 165px !important;
    min-height: 165px;
}
