.betterNotesEditor .col {
    min-width: 200px !important;
    max-width: unset !important;
    width: 50%;

    min-height: 100% !important;
    max-height: 100% !important;
    height: 100%;
}
.betterNotesEditor .full {
    height: 100%;
    width: 100%;
    margin: 0;
}
.betterNotesEditor textarea, .betterNotesEditor #preview{
    overflow: auto;
    font-size: 13px;
}
.betterNotesEditor .dual {
    display: flex !important;
    flex-direction: row !important;
}
.betterNotesEditor textarea {
    font-family: monospace;
    resize: horizontal !important;
    flex: unset !important;
}
.betterNotesEditor h1 {
    font-size: large;
}

.betterNotesEditor footer {
    text-align: right;
}

.betterNotesEditor #preview{
    white-space: pre !important;
    flex: 1 !important;
}

.betterNotesEditor #head1 {
    font-weight: bold;
}
.betterNotesEditor #head2 {
    font-weight: bold;
    font-style: italic;
}
.betterNotesEditor #bold {
    font-weight: bold;
}
.betterNotesEditor #italic {
    font-style: italic;
}
.betterNotesEditor #link {
    text-decoration: underline;
}
.betterNotesEditor #strike {
    text-decoration: line-through;
}
.betterNotesEditor .spacer {
    margin-left: 10px;
    pointer-events: none;
}

.betterNotesEditor header {
    padding: 5px;
}
.betterNotesEditor header label {
    font-size: large;
    margin-left: 20px;
    margin-right: 5px;
}

.betterNotesEditor #exportArea {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    .betterNotesEditor .dual {
        flex-direction: column !important;
    }
    .betterNotesEditor .col {
        min-width: 100% !important;
        max-width: 100% !important;
        width: 100%;

        min-height: 100px !important;
        max-height: unset !important;
        height: 50%;
    }
    .betterNotesEditor textarea {
        resize: vertical !important;
    }
}
