/* Fancy Dial */
/* assumes emoji in first position of each folder title */

.SpeedDial {
    cursor: pointer;
}

.SpeedDials .folder .button-title {
    text-indent: -1.32em;
}

.SpeedDials .folder .thumbnail-title button:before {
    content: attr(title);
    position: absolute;
    top: 0px;
    left: 14px;
    font-size: xxx-large;
    max-width: 1.35em;
    overflow: hidden;
    display: block;
    pointer-events: none;
    text-indent: 0;
}

.SpeedDial:not(.folder) .favicon {
    position: absolute;
    top: 20px;
    left: 30px;
    transform: scale(1.5);
    image-rendering: pixelated;
    pointer-events: none;
}

.SpeedDials .folder .thumbnail-title svg {
    display: none;
}

.SpeedDials .folder:hover .thumbnail-title button:before {
    transform: scale(1.1);
    text-indent: 0em;
}

.SpeedDials .SpeedDial:hover .favicon{
    transform: scale(1.7);
}

.SpeedDial .thumbnail-image {
    filter: blur(6px);
}


.SpeedDials-wrapper.icon .folder .thumbnail-title button:before {
    top: 0px;
    left: 16px;
}

.SpeedDials-wrapper.icon .folder:hover .thumbnail-title button:before,
.SpeedDials-wrapper.icon .SpeedDial:hover .favicon{
    transform: scale(1.1);
}

.SpeedDials-wrapper.icon .SpeedDial .favicon {
    position: relative;
    top: 0px;
    left: 0px;
    transform: scale(1);
    pointer-events: none;
}


.SpeedDial .thumbnail-favicon-folder {
    filter: blur(6px);
}
