/* Fancy Dial */
/* assumes emoji in first position of each folder title */

.dial {
    cursor: pointer;
}

.dials .folder .button-title {
    text-indent: -1.32em;
}

.dials .folder .thumbnail-title button:before {
    content: attr(title);
    position: absolute;
    top: 55px;
    left: 80px;
    font-size: xxx-large;
    max-width: 1.35em;
    overflow: hidden;
    display: block;
    pointer-events: none;
    text-indent: 0;
}

.dial .favicon {
    position: absolute;
    top: 80px;
    left: 100px;
    transform: scale(3);
    image-rendering: pixelated;
    pointer-events: none;
}

.dials .folder .thumbnail-title svg {
    display: none;
}

.dials .folder:hover .thumbnail-title button:before {
    transform: scale(1.5);
    text-indent: 0em;
}

.dials .dial:hover .favicon{
    transform: scale(4);
}

.dial .thumbnail-image {
    filter: blur(6px);
}


.dials-wrapper.icon .folder .thumbnail-title button:before {
    top: 0px;
    left: 16px;
}

.dials-wrapper.icon .folder:hover .thumbnail-title button:before,
.dials-wrapper.icon .dial:hover .favicon{
    transform: scale(1.1);
}

.dials-wrapper.icon .dial .favicon {
    position: relative;
    top: 0px;
    left: 0px;
    transform: scale(1);
    pointer-events: none;
}


.dials-wrapper.icon .dial .thumbnail-favicon-folder {
    filter: blur(6px);
}
