/* Fancy Dial */
.dials .folder .thumbnail-title button:before {
    content: attr(title);
    position: absolute;
    top: 39px;
    left: 54px;
    font-size: xxx-large;
    max-width: 1.35em;
    overflow: hidden;
    display: block;
    pointer-events: none;
}

.dial .favicon {
    position: absolute;
    top: 70px;
    left:75px;
    transform: scale(3);
    image-rendering: pixelated;
    pointer-events: none;
}

.dials .folder .thumbnail-title svg {
    display: none;
}

.dials .folder .button-title {
    font-size: 0px;
}

.dials .folder:hover .thumbnail-title button:before {
    transform: scale(1.5);
    text-indent: 0em;
}

.dials .folder:hover .button-title {
    font-size: medium;
    text-indent: -1.32em;
}

.dials .dial:hover .favicon{
    transform: scale(4);

}

.dial .thumbnail-image {
    filter: blur(6px);
}
