/* Use the following to hide the site info text*/
button.button-addressfield.SiteInfoButton.certified .siteinfo-text {
    display: none
}
/* Include the following to display the full name on hovering */
button.button-addressfield.SiteInfoButton.certified:hover .siteinfo-text {
    display: block
}

/* change colours so that secure uses default style, not green */
button.button-addressfield.SiteInfoButton.secure,
button.button-addressfield.SiteInfoButton.certified,
button.button-addressfield.SiteInfoButton.secure .siteinfo-symbol,
button.button-addressfield.SiteInfoButton.certified .siteinfo-symbol {
    background-color: transparent;
}

button.button-addressfield.SiteInfoButton.secure svg,
button.button-addressfield.SiteInfoButton.certified svg {
    fill: var(--colorFgFaded);
}

button.button-addressfield.SiteInfoButton.secure:hover,
button.button-addressfield.SiteInfoButton.certified:hover,
button.button-addressfield.SiteInfoButton.secure:focus:not([tabindex='-1']),
button.button-addressfield.SiteInfoButton.certified:focus:not([tabindex='-1']) {
    border-color: var(--colorBorder);
    background-color: var(--colorBgLight);
}

button.button-addressfield.SiteInfoButton.certified .siteinfo-text {
    color: var(--colorFg);
}
