#panels span, #panels h1, #panels h2, #panels h3, #panels li, #panels p,
.startpage span, .startpage h1, .startpage h2, .startpage h3, .startpage li, .startpage p,
.vivaldi-settings span, .vivaldi-settings h1, .vivaldi-settings h2, .vivaldi-settings h3, .vivaldi-settings li,
.vivaldi-settings .ReactVirtualized__Grid, .keyboardShortcutsWrapper{
    user-select: text !important;
    -webkit-user-select: text !important;
}
