/*
Drop-Down Tab Stacks
lonm.vivaldi.net
oandreaus.vivaldi.net
No Copyright Reserved
*/

/*
A Tab group is presented as a normal tab header,
but with a group of "indicators" positioned above
the tab header in a horizontal fashion.
On hover, we want to make these vertical, show
the title of the indicator, and drop them down
below the existing tab header.
Toggle the comments in .tab-group:hover .tab-indicator:after
to change how long tab texts are displayed.
*/

/*
Mod 02 LM 2018-APR-08
- Fix slight offset in side tabs causing hover issues
- Make thumb hover animations obey user setting
- Improve contrast of thumb hover text in light theme
*/

/*
Mod 01 OA 04/08/18
- Added .tab-strip to avoid messing with popup thumbnails background.
- Added z-index for tab position to work with thumbnails enabled.
- General graphic changes to make it look like a regular dropdown menu.
- Added shadows.
- Added opening animation.
- Added animation for popups in case someone is using them.
*/


/* Change the color of tab groups to improve visibility */
/*.tab-strip .tab-group{
  background: var(--colorBgDark) !important;
  color: var(--colorFgIntense) !important;
}
.tab-strip .tab-group.active{
  background: var(--colorAccentBgDark) !important;
  color: var(--colorAccentFg) !important;
}

.tab-strip .tab-group:hover{
  background: var(--colorBgDarker) !important;
  color: var(--colorFgIntenser) !important;
}
.tab-strip .tab-group.active:hover{
  background: var(--colorAccentBgDarker) !important;
  color: var(--colorAccentFg) !important;
}*/

/* Fixes issues with Thumbnails */
.tab-strip .tab-position:hover {
  z-index: 17 !important;
}

/* Make the tab group indicator vertical below tab header */
.tab-group:hover .tab-group-indicator {
  flex-direction: column;
  position: relative;
  top: 30px !important;
  padding-bottom: 8px;
  background: var(--colorBg);
  border-bottom-left-radius: var(--radiusHalf);
  border-bottom-right-radius: var(--radiusHalf);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 13px 0 rgba(0, 0, 0, 0.19);
  transition: 50ms ease-out;
}

/* Prevent CSS Hover Spam if mouse is above tab header */
.tab-group:hover .tab-group-indicator:before {
  content: '';
  height: 1px;
  width: calc(100% - 4px);
  position: absolute;
  left: 0px;
  background-color: var(--colorBg);
  border: 1px solid transparent;
}


/* Space tab indicators vertically */
.tab-group:hover .tab-indicator {
  height: 30px !important;
  margin: 0px !important;
  background-color: transparent !important;
}

/* Background (shape) of tab indicator */
.tab-group:hover .tab-indicator:before {
  content: '';
  background: var(--colorBg);
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: var(--radiusThird);
}

/* Background (shape) of active tab indicator */
.tab-group:hover .tab-indicator.active:before{
  background: var(--colorAccentBg);
}


/* Foreground (text) of tab indicator */
.tab-group:hover .tab-indicator:after {
  content: attr(title);
  display: block;
  width: calc(100% - 4px);
  position: relative;
  top: -20px;
  left: 6px;
  color: var(--colorFg);
  white-space: nowrap;
  overflow: hidden;
  /** Toggle for fade out long text */
  -webkit-mask-image: -webkit-linear-gradient(180deg, transparent 0, #fff 16px);
  -webkit-mask-position: top right;
  /*  or clip with ... */
  /*text-overflow: ellipsis;*/
}

/* Foreground (text) of active tab indicator */
.tab-group:hover .tab-indicator.active:after {
  color: var(--colorAccentFg);
}

/* Change active indicator colours */
.tab-group:hover .tab-indicator:hover:before {
  background: var(--colorHighlightBg);
}
.tab-group:hover .tab-indicator:hover:after {
  color: var(--colorHighlightFg);
}


/* different tab positions */
.tabs-right .tab-group:hover .tab-group-indicator,
.tabs-left  .tab-group:hover .tab-group-indicator{
  top: 36px !important;
  bottom: unset !important;
}

.tabs-bottom .tab-group:hover .tab-group-indicator{
  top: unset !important;
  bottom: 30px !important;
  border-top-left-radius: var(--radiusHalf);
  border-top-right-radius: var(--radiusHalf);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 -2px 6px 0 rgba(0, 0, 0, 0.2);
}
.tabs-bottom .tab-group:hover .tab-group-indicator:before {
  top: unset !important;
  bottom: -30px;
}

/* Prevent side tabs z-index upsetting the
 layering of the tab group indicators */
.tabs-right .tab-position:hover,
.tabs-left  .tab-position:hover {
  z-index: 3 !important;
}


/*

Changes to popup thumbnails

*/

/* Inital settings */
#vivaldi-tooltip .tooltip .tooltip-item {
  top: 0px;
  width: calc(226px/1.13); /* Default = 226px */
  margin: 0 2px 10px 2px;
  transition: 100ms ease;
}

#browser.animation-off ~ #vivaldi-tooltip .tooltip .tooltip-item {
  transition-duration: 0s !important;
}

/* Smaller Thumbnails Default = 160px */
#vivaldi-tooltip .tooltip .tooltip-item .thumbnail-image {
  height: calc(160px/2);
}

/* Coloring last active */
#vivaldi-tooltip .tooltip .tooltip-item.last-active {
  top: 0px;
  color: var(--colorAccentFg);
  background-color: var(--colorAccentBgFaded);
}

/* Highlighting thumbnail under mouse */
#vivaldi-tooltip .tooltip .tab-group .tooltip-item:hover {
  top: 10px;
  background-color: var(--colorAccentBgFadedMost);
  color: var(--colorFg);
}

/* Fix for right tabs */
.tabs-right ~ #vivaldi-tooltip .tooltip .tooltip-item{
  width: 226px;
}
/* Fix for bottom tabs */
.tabs-bottom ~ #vivaldi-tooltip .tooltip .tab-group .tooltip-item:hover {
  top: -10px;
}
